#!/usr/bin/env python
PACKAGE='cv_features_extractor'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
#       Name       Type      Level Description     Default Min   Max
gen.add("b",       int_t,    0,    "First number.", 2,     -100, 100)
gen.add("a",       int_t,    0,    "First number.", 1,     -100, 100)
#angles = gen.add_group("Angles")
#       Name                    Type      Reconfiguration level
#       Description
#       Default  Min  Max
#angles.add("min_ang",           double_t, SensorLevels.RECONFIGURE_STOP,
#          "The angle of the first range measurement. The unit depends on ~ang_radians.",
#         -pi/2,-pi, pi)
#gen.add("intensity",            bool_t,   SensorLevels.RECONFIGURE_STOP,
#        "Whether or not the hokuyo returns intensity values.",
#gen.add("skip",                 int_t,    SensorLevels.RECONFIGURE_STOP,
#        "The number of scans to skip between each measured scan",
#         0, 0,  9)
#gen.add("port",                 str_t,    SensorLevels.RECONFIGURE_CLOSE,
#        "The serial port where the hokuyo device can be found",
#        "/dev/ttyACM0")
#gen.add("frame_id",             str_t,    SensorLevels.RECONFIGURE_RUNNING,
#        "The frame in which laser scans will be returned",
#        "laser")
#gen.add("time_offset",          double_t, SensorLevels.RECONFIGURE_RUNNING,

exit(gen.generate(PACKAGE, "weiss_display_image", "cv_features_extractor_params"))
